{{#section 'title'}}
<title>Admin</title>
{{/section}}
{{#section 'css'}}
{{/section}}

<div class="container min-vh-100">


  <div class="card mt-4">
    <div class="card-header bg-primary text-light d-flex flex-row align-items-center">
      Tài khoản
      <a class="ml-auto btn btn-success" href="admin/new" role="button">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Tài khoản mới
      </a>
    </div>
    <div class="card-body">
    </div>
    <div class="card-body p-1 overflow-auto">
      <table class="table table-hover" style="min-width: 35rem;">
        <thead>
          <tr>
            <th scope="col">Tên đăng nhập</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Loại người dùng</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each accounts}}
          <tr>
            {{!-- Admin disable account --}}
            <td>{{#if IsDisabled}}<span class="badge badge-pill badge-secondary">Disabled</span>{{/if}}{{Username}}</td>
            <td>{{FullName}}</td>
            <td>
              {{!-- Loại người dùng tương ứng --}}
              {{#if (equals Permission 0)}}<span class="badge badge-pill badge-success">Sinh viên</span>{{/if}}
              {{#if (equals Permission 3)}}<span class="badge badge-pill badge-warning">Mod</span>{{/if}}
              {{#if (equals Permission 4)}}<span class="badge badge-pill badge-danger">Admin</span>{{/if}}
              {{#if (equals Permission 1)}}<span class="badge badge-pill badge-primary">Giới hàn lâm</span>{{/if}}
              {{#if (equals Permission 2)}}<span class="badge badge-pill badge-info">Tuyển dụng</span>{{/if}}
            </td>
            <td>
              {{!-- Chuyễn sang trang chỉnh sửa tương ứng --}}
              <a class="btn btn-primary" href="admin/edit/{{_id}}" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          {{else}}
          <tr class="bg-light">
            <td colspan="4" class="text-center">
              Không có dữ liệu
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>

{{#section 'js'}}
  
{{/section}}