<div class="container-fluid p-4 mt-5" style="background: white;">
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <h6>Trang tin tức công nghệ cho sinh viên</h6>
    </div>
    <div class="col-6">
        <h6 class="mb-1">Đồ án Nhập môn Công nghệ phần mềm</h6>
        <h6 class="mb-1">Nhóm 18</h6>
        <div class="container-fluid">
          <ul class="list-unstyled row mb-0">
            <li class="col-5 pl-0">18120355 - Lê Nguyên Hào</li>
            <li class="col-5 pl-0">18120360 - Trần Trung Hậu</li>
            <li class="col-5 pl-0">18120375 - Nguyễn Minh Hiếu</li>
            <li class="col-5 pl-0">18120385 - Bùi Trọng Hoàng</li>
          </ul>
        </div>
    </div>
  </div>
</div>